{{ block title }}
    Anleitung
{{ endblock }}
{{ block content }}

<h5>
    Herzlich willkommen!
</h5>

<p>
    Danke für Ihre Bereitschaft, an diesem ökonomischen Experiment teilzunehmen. 
    Wenn Sie diese Anleitung aufmerksam lesen, können Sie eine nicht unerhebliche Menge Geld verdienen. 
    Der Gewinn, den Sie während dieses Experiments erzielen, wird Ihnen in bar am Ende des Experiments ausbezahlt werden. 
    Bitte verhalten Sie sich ruhig und blicken Sie nicht auf die Bildschirme der anderen Teilnehmer. 
    Wenn Sie Fragen haben oder Hilfe benötigen, geben Sie bitte ein Handzeichen, und wir werden zu Ihnen kommen. 
    Sollten Sie das Experiment durch Sprechen, Lachen, etc. stören, behalten wir uns vor, Sie vom Experiment ohne Bezahlung auszuschließen. 
    Wir erwarten und schätzen diesbezüglich Ihre Kooperation.
    Alle Vorgänge im Experiment laufen exakt so ab, wie sie in dieser Anleitung beschrieben werden.
</p>

<h5>
    Grundstruktur des Experiments
</h5>

<p>
    Dieses Experiment besteht aus {{ num_rounds }} Spielen.
    In jedem Spiel werden Sie vom Computer anonym mit einem anderen zufälligen Mitspieler gematcht.
    Jedes Spiel wird dabei in {{ num_periods }} Perioden unterteilt.
    In jeder Periode werden Sie und Ihr Mitspieler geheim Aktionen auswählen. 
    Jene Kombination von Aktionen, die am Ende der Periode von Ihnen und Ihrem Mitspieler ausgewählt wurde, bestimmt Ihren Punktegewinn in dieser Periode.
</p>

<p>
    Wir werden Ihnen nicht genau erklären, wie Ihre Punkte berechnet werden, aber hier sind einige Hinweise:    
</p>

<ul>
    <li>Ihre Punkte in jeder Periode hängen einzig und allein von Ihrer Aktion und der Aktion Ihres Mitspielers ab.</li>
    <li>Die Funktion, die Ihre Punkte bestimmt, wird sich während eines Spiels nicht verändern. </li>
    <li>Wenn Sie und Ihr Mitspieler während eines Spiels die gleichen Aktionen zu den Zeitpunkten A und B wählen, werden Sie beide den gleichen Gewinn zu Zeitpunkt A wie zu Zeitpunkt B machen.</li>
    <li>Zwischen den Spielen kann sich die Funktion ändern.</li>
</ul>

<h5>
    Display
</h5>

<p>
    Die folgende Abbildung zeigt das Computerdisplay, mit dem Sie Entscheidungen treffen und mit Ihrem Mitspieler interagieren werden. 
</p>

{{ if joint_payoff_info }}

<img src={{ static 'interface_joint.png' }}>

{{ else }}

<img src={{ static 'interface.png' }}>

{{ endif }}

<p>
    Am oberen Rand des Bildschirms sehen Sie einen Countdown, der anzeigt, wann die aktuelle Periode endet. 
    Wenn der Countdown 0 erreicht, wird eine neue Periode unmittelbar gestartet. 
    Jede Periode ist  {{ period_length }} Sekunden lang.
    <b>Ihre Aktion</b> ist die Position (von links nach rechts) der <b>roten vertikalen Line</b>. 
    Während einer Periode können Sie Ihre vorläufige Aktion frei verändern, indem Sie auf die gewünschte Position klicken und so die rote Linie verschieben. 
    Ihre tatsächliche Aktion für die gesamte Periode wird ausschließlich durch die Position der roten Linie <b>am Ende der Periode</b> festgelegt.
</p>

<p>
    Nachdem eine Periode vergangen ist, werden Sie einen <b>roten Punkt</b> sehen, der <b>Ihre Punkte</b> in der vergangenen Periode anzeigt. 
    Unter diesem Punkt sehen Sie ein <b>rotes Quadrat</b>, das <b>Ihre Aktion</b> in der vergangenen Periode anzeigt.
    Je höher der Punkt, desto mehr Punkte haben Sie gewonnen. 
    Die genaue Anzahl der Punkte, die Sie in diesem Spiel und in der vergangenen Periode verdient haben, können Sie am oberen Bildschirmrand sehen.
    Gleichzeitig werden Sie am unteren Rand des Bildschirms ein <b>blaues Quadrat</b> sehen, das die <b>Aktion Ihres Mitspielers</b> in der vergangenen Periode anzeigt. 
    {{ if joint_payoff_info }} Über diesem Punkt sehen Sie einen <b>blauen Punkt</b>, der die <b>Punkte Ihres Mitspielers</b> in der vergangenen Periode anzeigt.
    {{ endif }}
    Schließlich werden Sie eine schwarze Linie sehen, die Ihnen anzeigt, wie viele Punkte Sie an jeder Position Ihres Schiebereglers verdienen hätten können, je nachdem welche Aktion ihr Mitspieler in der vergangenen Periode gewählt hat.
    {{ if joint_payoff_info }} Zusätzlich werden sie eine schwarze gestrichelte Linie sehen, die Ihnen anzeigt, wie viele Punkte <b>Sie und Ihr Mitspieler gemeinsam</b> dan jeder Position Ihres Schiebereglers verdienen hätten können, je nachdem welche Aktion ihr Mitspieler in der vergangenen Periode gewählt hat. Der schwarze Punkt zeigt an, wie viele Punkte Sie und Ihr Mitspieler in der vergangenen Periode insgesamt verdient haben.
    {{ endif }}

</p>

<p>
    Es ist wichtig, dass Sie sich bewusst sind, dass alle Informationen stets die Ergebnisse der vergangenen Periode darstellen. 
    Sie werden so lange nichts über die Punkte oder die Aktion Ihres Mitspielers in der laufenden Periode erfahren, bis die Periode beendet ist.
</p>

<h5>
    Gewinn
</h5>

<p>
    In diesem Experiment verdienen Sie zunächst Punkte, die später bar ausgezahlt werden. 
    Für {{ conversion_rate }} Punkte werden Sie 1 Euro erhalten. 
    Ihre Punkte werden sich im Laufe des Experiments ansammeln. Ihre bisher verdienten Punkte werden Ihnen nach jedem Spiel angezeigt.     
</p>

<p>
    Sie erhalten auch einen Ausdruck dieser Anleitung.
    Sollten Sie etwas nicht verstanden haben, lassen Sie uns das bitte wissen, indem Sie Ihre Hand heben. 
    Wir werden Ihre Fragen einzeln und persönlich beantworten.
    Danke für Ihre Teilnahme!
</p>

<div>
    <button id="next_button" class="btn btn-primary btn-large" hidden>Weiter</button>
</div>

{{ endblock }}


{{ block scripts }}
<script>
    const button = document.getElementById('next_button');
    setTimeout(function() {
        button.removeAttribute('hidden');
        }, 10000);
</script>
{{ endblock }}
